<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    

</head>
<body>
    <header>
        <div class="logo-barra-compra">
        <div class="logo-barra">
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado liebre"></a>
        </div>
        <div class="busqueda">
            <li type="none"><input type="text" placeholder="Buscar productos, marcas ..."><button><i class="fa-solid fa-magnifying-glass"></i> </button></li>
        </div>
    </div>
    <div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
        </div>
        <div class="ul-burger">
            <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a> </li>
            <li><a href="">Vender</a> </li>
            <li><a href="">Ayuda</a> </li>
        </ul>
        <ul>
            <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
       </div>
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner" width="100%">
         <h4>Basado en tu ultima visita</h4>
        <section>
           
            <article>
                <a href="">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
               <div class="descrip">
                <div class="truck">
                <i class="fa-solid fa-truck"></i>
            </div>
                <div class="pre-des">
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
            </div>
                <h3>Cafetera Moulinex</h3>
            </div>
        </a>
            </article>
            <article>
                <a href="">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="100%">
                <div class="descrip">
            <div class="truck">
                <i class="fa-solid fa-truck"></i>
            </div>
                <div class="pre-des">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
            </div>
                <h3>MacBook Pro 2019</h3>
            </div>
        </a>
            </article>
            <article>
                <a href="">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
               <div class="descrip"> 
               <div class="truck">
                <i class="fa-solid fa-truck"></i>
            </div> 
                <div class="pre-des">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
               </div>
                <h3>Samsung Galaxy S10</h3>
                </div>
            </a>
            </article>
            <article>
                <a href="">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" width="100%">
              <div class="descrip">
                <div class="truck">
                <i class="fa-solid fa-truck"></i>
            </div>
                <div class="pre-des">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
            </div>
                <h3>Smart TV</h3>
              </div>
            </a>
            </article>
        </section>


</main>
    <footer>
    <div class="footer">
        <article>
            <div><i class="fa-solid fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o en efectivo
            </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </p>
        </article>
        <article>
            <div><i class="fa-solid fa-gift"></i></div>
            <h4>Envío gratis desde $ 2.500
            </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.                
                </p>
        </article>
        <article>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <h4> Seguridad, de principio a fin
            </h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.            
                </p>
        </article>
    </div>
        <span>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.
        </span>
    </footer>
</body>
</html>