@import url("style.css");
main{
    background-color: var(--gris-claro);
}
main form{
    display: flex;
    flex-direction: column;
    
}
.imput{
    margin: 25px;
    width:84%;
    border:white;
    border-radius: 5px;
    padding: 6px;
    height: 21px;
}
.lavel{
    font-weight: bold;
    margin-left: 15px;
}
.boton{
    margin: 20px;
    width: 86%;
    height: 33px;
    background-color:var(--celeste);
    color:white;
    border: var(--celeste);
    border-radius: 8px;
    
}
.dib{
    margin: 10px 0px 5px 20px 
}
.conteiner-colums{
    display: flex;
    justify-content: space-around;
}
.div-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}